In [26]:

import pandas as pd

# Crear un DataFrame
datos = {
    'Región': ['Norte', 'Norte', 'Sur', 'Sur'],
    'Ciudad': ['A', 'B', 'A', 'B'],
    'Ventas': [100, 150, 200, 250]
}

df = pd.DataFrame(datos)
print(df)

  Región Ciudad  Ventas
0  Norte      A     100
1  Norte      B     150
2    Sur      A     200
3    Sur      B     250

In [27]:
# Definir un índice jerárquico
df1=df.copy()
df1.set_index(['Región','Ciudad'], inplace=True)
print(df1)

               Ventas
Región Ciudad
Norte  A          100
       B          150
Sur    A          200
       B          250

In [28]:
df.columns

Index(['Región', 'Ciudad', 'Ventas'], dtype='object')

In [29]:
df1.columns

Index(['Ventas'], dtype='object')

In [8]:
df.loc['Norte']

        Ventas
Ciudad
A          100
B          150

In [19]:
df_group=df.groupby('Región')['Ventas'].describe()
df_group

        count   mean        std    min    25%    50%    75%    max
Región
Norte     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0
Sur       2.0  225.0  35.355339  200.0  212.5  225.0  237.5  250.0

In [20]:
df_group1=df.groupby('Región').agg({'Ventas':['min','count','sum']})
df_group1

       Ventas
          min count  sum
Región
Norte     100     2  250
Sur       200     2  450

In [30]:
df_group1.to_excel('df_group1.xlsx')

In [31]:
df.to_excel('df.xlsx')

In [32]:
df_pivot=df.pivot_table(index='Región',columns='Ciudad',values='Ventas',aggfunc='sum')
df_pivot

Ciudad    A    B
Región
Norte   100  150
Sur     200  250

In [33]:
datos_m = {
    'Región': ['Norte', 'Norte', 'Sur', 'Sur'],
    'Ciudad': ['A', 'B', 'A', 'A'],
    'Ventas': [100, 150, 200, 250]
}

df_m = pd.DataFrame(datos_m)
print(df_m)

  Región Ciudad  Ventas
0  Norte      A     100
1  Norte      B     150
2    Sur      A     200
3    Sur      A     250

In [35]:
df_pivot1=df_m.pivot_table(index='Región',columns='Ciudad',values='Ventas',aggfunc='sum')
df_pivot1

Ciudad      A      B
Región
Norte   100.0  150.0
Sur     450.0    NaN

In [37]:
df_pivot.columns

Index(['A', 'B'], dtype='object', name='Ciudad')

In [40]:
df_pivot.reset_index()

Ciudad Región    A    B
0       Norte  100  150
1         Sur  200  250

In [39]:
df_despivot=df_pivot.reset_index().melt(id_vars='Región',var_name='Ciudad',value_name='Ventas')
df_despivot

  Región Ciudad  Ventas
0  Norte      A     100
1    Sur      A     200
2  Norte      B     150
3    Sur      B     250

###Ejemplo merge(), concat() y join()

In [47]:
import pandas as pd

# 1. Dataset de Empleados (La base)
df_empleados = pd.DataFrame({
    'id_empleado': [101, 102, 103, 104],
    'nombre': ['Ana', 'Beto', 'Carla', 'David'],
    'departamento': ['Ventas', 'IT', 'IT', 'Marketing']
})

# 2. Dataset de Salarios (Para probar merge())
# Nota: El id 105 no está en empleados, y el 104 no tiene salario aquí.
df_salarios = pd.DataFrame({
    'id_empleado': [101, 102, 103, 105],
    'nombre': ['Ana', 'Beto', 'Carla', 'David'],
    'salario': [50000, 60000, 55000, 45000]
})

# 3. Dataset de Nuevos Ingresos (Para probar concat())
df_nuevos = pd.DataFrame({
    'id_empleado': [106, 107],
    'nombre': ['Elena', 'Federico'],
    'departamento': ['RRHH', 'Ventas']
})

print("--- DataFrame Empleados ---")
print(df_empleados)
print("\n--- DataFrame Salarios ---")
print(df_salarios)
print("\n--- DataFrame Nuevos Ingresos ---")
print(df_nuevos)

--- DataFrame Empleados ---
   id_empleado nombre departamento
0          101    Ana       Ventas
1          102   Beto           IT
2          103  Carla           IT
3          104  David    Marketing

--- DataFrame Salarios ---
   id_empleado nombre  salario
0          101    Ana    50000
1          102   Beto    60000
2          103  Carla    55000
3          105  David    45000

--- DataFrame Nuevos Ingresos ---
   id_empleado    nombre departamento
0          106     Elena         RRHH
1          107  Federico       Ventas

In [48]:
nuevo=df_empleados.merge(df_salarios,on=['id_empleado','nombre'],how='outer')
nuevo

   id_empleado nombre departamento  salario
0          101    Ana       Ventas  50000.0
1          102   Beto           IT  60000.0
2          103  Carla           IT  55000.0
3          104  David    Marketing      NaN
4          105  David          NaN  45000.0

In [49]:
nuevo1=df_empleados.merge(df_nuevos,on=['id_empleado','nombre'],how='outer')
nuevo1

   id_empleado    nombre departamento_x departamento_y
0          101       Ana         Ventas            NaN
1          102      Beto             IT            NaN
2          103     Carla             IT            NaN
3          104     David      Marketing            NaN
4          106     Elena            NaN           RRHH
5          107  Federico            NaN         Ventas

In [50]:
df_total=pd.concat([df_empleados,df_nuevos])
df_total

   id_empleado    nombre departamento
0          101       Ana       Ventas
1          102      Beto           IT
2          103     Carla           IT
3          104     David    Marketing
0          106     Elena         RRHH
1          107  Federico       Ventas

In [51]:
df_total_t=df_total.merge(df_salarios,on=['id_empleado','nombre'],how='outer')
df_total_t

   id_empleado    nombre departamento  salario
0          101       Ana       Ventas  50000.0
1          102      Beto           IT  60000.0
2          103     Carla           IT  55000.0
3          104     David    Marketing      NaN
4          105     David          NaN  45000.0
5          106     Elena         RRHH      NaN
6          107  Federico       Ventas      NaN

In [53]:
df_empleados_idx=df_empleados.set_index('id_empleado')
df_empleados_idx

            nombre  salario
id_empleado
101            Ana    50000
102           Beto    60000
103          Carla    55000
105          David    45000

In [54]:
df_bonos=pd.DataFrame({'bono':[1000,2000]},index=[101,102])
df_bonos

     bono
101  1000
102  2000

In [57]:
df_salarios1 = pd.DataFrame({
    'id_empleado': [101, 102, 103, 105],
    'salario': [50000, 60000, 55000, 45000]
})
df_salarios_idx=df_salarios1.set_index('id_empleado')
df_salarios_idx

             salario
id_empleado
101            50000
102            60000
103            55000
105            45000

In [60]:
final=df_empleados_idx.join([df_salarios_idx,df_bonos])
final

            nombre departamento  salario    bono
id_empleado
101            Ana       Ventas  50000.0  1000.0
102           Beto           IT  60000.0  2000.0
103          Carla           IT  55000.0     NaN
104          David    Marketing      NaN     NaN