In [1]:
import pandas as pd
import numpy as np

In [42]:
df=pd.read_csv("empleados.csv", sep=";")

In [57]:
df.isnull().sum()

id_empleado           0
nombre                0
departamento          0
salario               0
nuevo_departamento    0
nuevo_salario         0
nuevo_salario1        0
dtype: int64

In [58]:
df.dropna(inplace=True)

In [17]:
df

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
1            2       Luis       Ventas     1000
2            3      María           IT     1200
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           IT     1400
6            7      Lucía    Marketing     1100
7            8      Jorge       Ventas      980
8            9  Valentina           IT     1500
9           10      Diego    Marketing     1080

In [43]:
df.columns

Index(['id_empleado', 'nombre', 'departamento', 'salario'], dtype='object')

In [44]:
df.sort_values(by='departamento')

   id_empleado     nombre departamento  salario
0            1        Ana           IT     1200
2            3      María           IT     1200
5            6     Carlos           IT     1400
8            9  Valentina           IT     1500
3            4      Pedro    Marketing     1100
6            7      Lucía    Marketing     1100
9           10      Diego    Marketing     1080
1            2       Luis       Ventas     1000
4            5      Sofía       Ventas     1050
7            8      Jorge       Ventas      980

In [21]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [22]:
df1=df[['departamento', 'salario']]
df1

  departamento  salario
0           IT     1200
1       Ventas     1000
2           IT     1200
3    Marketing     1100
4       Ventas     1050
5           IT     1400
6    Marketing     1100
7       Ventas      980
8           IT     1500
9    Marketing     1080

In [23]:
df1.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [24]:
df1.duplicated().sum()

np.int64(2)

In [27]:
df1.drop_duplicates(inplace=True)
df1

/tmp/ipython-input-3285605703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop_duplicates(inplace=True)

  departamento  salario
0           IT     1200
1       Ventas     1000
3    Marketing     1100
4       Ventas     1050
5           IT     1400
7       Ventas      980
8           IT     1500
9    Marketing     1080

In [28]:
df1.reset_index(drop=True, inplace=True)
df1

  departamento  salario
0           IT     1200
1       Ventas     1000
2    Marketing     1100
3       Ventas     1050
4           IT     1400
5       Ventas      980
6           IT     1500
7    Marketing     1080

In [45]:
df['departamento']=df['departamento'].str.replace(r'IT','TI')
df

   id_empleado     nombre departamento  salario
0            1        Ana           TI     1200
1            2       Luis       Ventas     1000
2            3      María           TI     1200
3            4      Pedro    Marketing     1100
4            5      Sofía       Ventas     1050
5            6     Carlos           TI     1400
6            7      Lucía    Marketing     1100
7            8      Jorge       Ventas      980
8            9  Valentina           TI     1500
9           10      Diego    Marketing     1080

In [60]:
df.set_index('nombre', inplace=True)
df

,departamento,salario,nuevo_departamento,nuevo_salario,nuevo_salario1
nombre,,,,,
Ana,TI,1200,TI,1080.0,1080
Luis,Ventas,1000,Comercialización,900.0,900
María,TI,1200,TI,1080.0,1080
Pedro,Marketing,1100,Comercialización,990.0,990
Sofía,Ventas,1050,Comercialización,945.0,945
Carlos,TI,1400,TI,1260.0,1260
Lucía,Marketing,1100,Comercialización,990.0,990
Jorge,Ventas,980,Comercialización,882.0,882
Valentina,TI,1500,TI,1350.0,1350
Diego,Marketing,1080,Comercialización,972.0,972

In [61]:
df.loc['Ana']

departamento              TI
salario                 1200
nuevo_departamento        TI
nuevo_salario         1080.0
nuevo_salario1          1080
Name: Ana, dtype: object

In [46]:
mapeo={'Ventas':'Comercialización','Marketing':'Comercialización','TI':'TI'}
df['nuevo_departamento']=df['departamento'].map(mapeo)
df

   id_empleado     nombre departamento  salario nuevo_departamento
0            1        Ana           TI     1200                 TI
1            2       Luis       Ventas     1000   Comercialización
2            3      María           TI     1200                 TI
3            4      Pedro    Marketing     1100   Comercialización
4            5      Sofía       Ventas     1050   Comercialización
5            6     Carlos           TI     1400                 TI
6            7      Lucía    Marketing     1100   Comercialización
7            8      Jorge       Ventas      980   Comercialización
8            9  Valentina           TI     1500                 TI
9           10      Diego    Marketing     1080   Comercialización

In [38]:
def categorizar_fila(fila):
  if fila['salario']>=1200:
    return 'Alto'
  else:
    return 'Bajo'

df['categoria']=df.apply(categorizar_fila, axis=1)

In [47]:
df

   id_empleado     nombre departamento  salario nuevo_departamento
0            1        Ana           TI     1200                 TI
1            2       Luis       Ventas     1000   Comercialización
2            3      María           TI     1200                 TI
3            4      Pedro    Marketing     1100   Comercialización
4            5      Sofía       Ventas     1050   Comercialización
5            6     Carlos           TI     1400                 TI
6            7      Lucía    Marketing     1100   Comercialización
7            8      Jorge       Ventas      980   Comercialización
8            9  Valentina           TI     1500                 TI
9           10      Diego    Marketing     1080   Comercialización

In [48]:
df['nuevo_salario']=df['salario']*0.9
df

,id_empleado,nombre,departamento,salario,nuevo_departamento,nuevo_salario
0,1,Ana,TI,1200,TI,1080.0
1,2,Luis,Ventas,1000,Comercialización,900.0
2,3,María,TI,1200,TI,1080.0
3,4,Pedro,Marketing,1100,Comercialización,990.0
4,5,Sofía,Ventas,1050,Comercialización,945.0
5,6,Carlos,TI,1400,TI,1260.0
6,7,Lucía,Marketing,1100,Comercialización,990.0
7,8,Jorge,Ventas,980,Comercialización,882.0
8,9,Valentina,TI,1500,TI,1350.0
9,10,Diego,Marketing,1080,Comercialización,972.0

In [49]:
df['nuevo_salario1']=df['salario'].apply(lambda x: x*0.9)

In [50]:
df

,id_empleado,nombre,departamento,salario,nuevo_departamento,nuevo_salario,nuevo_salario1
0,1,Ana,TI,1200,TI,1080.0,1080.0
1,2,Luis,Ventas,1000,Comercialización,900.0,900.0
2,3,María,TI,1200,TI,1080.0,1080.0
3,4,Pedro,Marketing,1100,Comercialización,990.0,990.0
4,5,Sofía,Ventas,1050,Comercialización,945.0,945.0
5,6,Carlos,TI,1400,TI,1260.0,1260.0
6,7,Lucía,Marketing,1100,Comercialización,990.0,990.0
7,8,Jorge,Ventas,980,Comercialización,882.0,882.0
8,9,Valentina,TI,1500,TI,1350.0,1350.0
9,10,Diego,Marketing,1080,Comercialización,972.0,972.0

In [53]:
df['nuevo_salario1']=df['nuevo_salario1'].apply(int)

In [54]:
df

,id_empleado,nombre,departamento,salario,nuevo_departamento,nuevo_salario,nuevo_salario1
0,1,Ana,TI,1200,TI,1080.0,1080
1,2,Luis,Ventas,1000,Comercialización,900.0,900
2,3,María,TI,1200,TI,1080.0,1080
3,4,Pedro,Marketing,1100,Comercialización,990.0,990
4,5,Sofía,Ventas,1050,Comercialización,945.0,945
5,6,Carlos,TI,1400,TI,1260.0,1260
6,7,Lucía,Marketing,1100,Comercialización,990.0,990
7,8,Jorge,Ventas,980,Comercialización,882.0,882
8,9,Valentina,TI,1500,TI,1350.0,1350
9,10,Diego,Marketing,1080,Comercialización,972.0,972

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_empleado         10 non-null     int64
 1   nombre              10 non-null     object
 2   departamento        10 non-null     object
 3   salario             10 non-null     int64
 4   nuevo_departamento  10 non-null     object
 5   nuevo_salario       10 non-null     float64
 6   nuevo_salario1      10 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 692.0+ bytes